@font-face {
  font-family: 'mononoki';
  src: url('fonts/mononoki-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mononoki';
  src: url('fonts/mononoki-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'mononoki';
  src: url('fonts/mononoki-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'mononoki';
  src: url('fonts/mononoki-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

:root {
  /* --------------------- */
  /* quasi-solarized theme */
  /* --------------------- */
  --base03: #0D2B1E;
  --base02: #1A362A;
  --base01: #5C6F5F;
  --base00: #687C6B;
  --base0: #839584;
  --base1: #92A291;
  --base2: #EBE9D3;
  --base3: #fdf6e3;
  --yellow: #A09206;
  --orange: #B07112;
  --red: #B04216;
  --magenta: #AD2E6E;
  --violet: #8849CA;
  --blue: #5666BD;
  --cyan: #3C9463;
  --green: #6B9300;

  --background: var(--base3);
  --background-accent: var(--base2);
  --main-text: var(--base01);
  --greyed-out-text: var(--base0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--base03);
    --background-accent: var(--base02);
    --main-text: var(--base1);
    --greyed-out-text: var(--base00);
  }

  #low-png {
    filter: invert();
  }
}

body {
  color: var(--main-text);
  font-family: mononoki;
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  background-color: var(--background);
}

a {
  transition: color 0.5s ease;
  color: var(--yellow);
  text-decoration: none;
}

a:hover {
  color: var(--orange);
}

.headline {
  text-align: center;
  color: var(--orange);
  margin-bottom: 48px;
}

h1 {
  line-height: 64px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 96px;
  text-align: center;
  color: var(--orange);
}

.wingdings {
  font-size: 200%;
  color: var(--greyed-out-text);
}

.container {
  padding: 0;
  margin: 0;
  position: relative;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
  justify-content: center;
}

.box {
  width: 400px;
  margin: 16px 50px;
}

.centered {
  text-align: center;
}

code {
  font-family: mononoki;
  float: right;
  white-space: pre;
}

.monospaced-title {
  font-style: normal;
  font-weight: normal;
  font-size: 300%;
  text-align: right;
}

.monospaced-title .accent {
  border-radius: 3px;
  color: var(--background);
  background-color: var(--main-text);
  height: 20px;
}

.resolution-title {
  text-align: right;
}

.resolution-title .high {
  font-size: 275%;
}

.background {
  color: var(--background-accent);
  font-size: 400%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  white-space: pre;
}

.showcase {
  color: var(--greyed-out-text);
}

.showcase-title {
  text-align: right;
  margin: 16px 0;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.box .dropcap {
  color: var(--orange);
  float: left;
  margin: 0px 0px 0px 0px;
}

.big {
  color: var(--greyed-out-text);
  font-size: 400%;
}

.donation {
  text-align: center;
  margin-bottom: 32px;
  color: var(--cyan)
}

.small-headline {
  margin-bottom: 1.3em;
}

.align-right {
  text-align: right;
}

/* code highlights */
.keyword {
  color: var(--orange);
}

.built_in {
  color: var(--red);
}

.string {
  color: var(--cyan);
}

.number {
  color: var(--yellow);
}

.comment {
  color: var(--greyed-out-text);
  font-style: italic;
}

footer {
  margin-top: 160px;
  text-align: center;
  font-style: italic;
  color: var(--greyed-out-text);
}