@font-face {
  font-family: 'mononoki';
  src: url('fonts/mononoki-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mononoki';
  src: url('fonts/mononoki-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'mononoki';
  src: url('fonts/mononoki-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'mononoki';
  src: url('fonts/mononoki-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

:root {
  /* --------------------- */
  /* quasi-solarized theme */
  /* --------------------- */
  --base03: #0D2B1E;
  --base02: #1A362A;
  --base01: #5C6F5F;
  --base00: #687C6B;
  --base0: #839584;
  --base1: #92A291;
  --base2: #EBE9D3;
  --base3: #fdf6e3;
  --yellow: #B69200;
  --orange: #C76C1C;
  --red: #BD4026;
  --magenta: #B53775;
  --violet: #9D40DD;
  --blue: #4268CA;
  --cyan: #00997A;
  --green: #5E9500;

  --background: var(--base3);
  --background-accent: var(--base2);
  --main-text: var(--base01);
  --greyed-out-text: var(--base0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--base03);
    --background-accent: var(--base02);
    --main-text: var(--base1);
    --greyed-out-text: var(--base00);
  }

  #low-png {
    filter: invert();
  }
}

body {
  font-family: mononoki;
  font-size: 16px;
  color: var(--main-text);
  background-color: var(--background);

  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--green);
  text-decoration: none;
  transition: color 400ms ease;
}

a:hover,
a:focus {
  color: var(--red);
  transition: color 200ms ease;
}

.headline {
  text-align: center;
  color: var(--orange);
  margin-bottom: 48px;
}

h1 {
  line-height: 64px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 96px;
}

.top-link {
  padding: .5em .75em;
  border: 2px solid;
  border-radius: 3px;
}

.wingdings {
  font-size: 200%;
  color: var(--greyed-out-text);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 400px;
  margin: 16px 50px;
}

.centered {
  text-align: center;
}

code {
  font-family: mononoki;
  float: right;
  white-space: pre;
}

.monospaced-title {
  font-size: 300%;
  text-align: right;
}

.monospaced-title .accent {
  border-radius: 3px;
  color: var(--background);
  background-color: var(--main-text);
  height: 20px;
}

.resolution-title {
  text-align: right;
}

.resolution-title .high {
  font-size: 275%;
}

.showcase {
  color: var(--greyed-out-text);
}

.showcase-title {
  text-align: right;
  margin: 16px 0;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.dropcap {
  color: var(--orange);
  float: left;
}

.droptext::first-letter {
  color: #0000;
  margin-left: -1ch;
}

.big {
  color: var(--greyed-out-text);
  font-size: 400%;
}

.donation {
  color: var(--orange);
  text-align: center;
  margin-bottom: 3em;
}

.align-right {
  text-align: right;
}

/* code highlights */
.keyword {
  color: var(--orange);
}

.built_in {
  color: var(--red);
}

.string {
  color: var(--green);
}

.number {
  color: var(--yellow);
}

.comment {
  color: var(--greyed-out-text);
  font-style: italic;
}

footer {
  margin-top: 160px;
  text-align: center;
  font-style: italic;
  color: var(--greyed-out-text);
}