<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lib</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>25</integer>
		<key>GSOffsetHorizontal</key>
		<real>40</real>
		<key>GSOffsetMakeStroke</key>
		<true/>
		<key>GSOffsetPosition</key>
		<integer>1</integer>
		<key>GSOffsetVertical</key>
		<real>36</real>
	</dict>
</dict>
</plist>
