<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1500</integer>
	<key>capHeight</key>
	<integer>1400</integer>
	<key>copyright</key>
	<string>Created by Matthias Tellen</string>
	<key>descender</key>
	<integer>-500</integer>
	<key>familyName</key>
	<string>monoOne</string>
	<key>openTypeHeadCreated</key>
	<string>2013/09/10 08:57:14</string>
	<key>openTypeNameDesigner</key>
	<string>Matthias Tellen</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>monoOne</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-23</integer>
		<integer>0</integer>
		<integer>1000</integer>
		<integer>1023</integer>
		<integer>1400</integer>
		<integer>1420</integer>
		<integer>1500</integer>
		<integer>1520</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-495</integer>
		<integer>-494</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>153</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>170</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>2000</integer>
	<key>vendorID</key>
	<string>PfEd</string>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>1000</integer>
</dict>
</plist>
