<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>F4AC8A39-C56C-4C90-A420-76F0B1B204EC</key>
		<dict>
			<key>HV</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>50</integer>
		<key>GSOffsetHorizontal</key>
		<integer>85</integer>
		<key>GSOffsetMakeStroke</key>
		<integer>1</integer>
		<key>GSOffsetPosition</key>
		<integer>0</integer>
		<key>GSOffsetVertical</key>
		<integer>77</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>F4AC8A39-C56C-4C90-A420-76F0B1B204EC</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<real>500</real>
	<key>com.schriftgestaltung.widthValue</key>
	<real>5</real>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>softhyphen</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>acute</string>
		<string>uni00B5</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>guillemotright</string>
		<string>AE</string>
		<string>Eth</string>
		<string>multiply</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>eth</string>
		<string>divide</string>
		<string>thorn</string>
		<string>grave_</string>
		<string>slashLowerCase_</string>
		<string>ring_</string>
		<string>zero.small</string>
		<string>three.small</string>
		<string>slashUpperCase_</string>
		<string>dieresis_</string>
		<string>a.small</string>
		<string>dotless</string>
		<string>ord_</string>
		<string>two.small</string>
		<string>circumflex_</string>
		<string>slashRational</string>
		<string>four.small</string>
		<string>one.small</string>
		<string>five.small</string>
		<string>tilde_</string>
		<string>THAI</string>
		<string>uni2504</string>
		<string>uni2505</string>
		<string>uni2502</string>
		<string>uni2503</string>
		<string>uni2500</string>
		<string>uni2501</string>
		<string>uni2665</string>
		<string>uni2661</string>
		<string>uniE100</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevegrave</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Hbar</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>Oacute</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Germandbls</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Uacute</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevegrave</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexgrave</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>hbar</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>dotlessj</string>
		<string>kcommaaccent</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>oacute</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>uacute</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ytilde</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>A-cy</string>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>De-cy</string>
		<string>Ie-cy</string>
		<string>Io-cy</string>
		<string>Zhe-cy</string>
		<string>Ze-cy</string>
		<string>Iishort-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>O-cy</string>
		<string>Pe-cy</string>
		<string>Er-cy</string>
		<string>Es-cy</string>
		<string>Te-cy</string>
		<string>U-cy</string>
		<string>Ushort-cy</string>
		<string>Ef-cy</string>
		<string>Ha-cy</string>
		<string>Che-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Ia-cy</string>
		<string>Softsign-cy</string>
		<string>Hardsign-cy</string>
		<string>Yeru-cy</string>
		<string>Dze-cy</string>
		<string>Ereversed-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Je-cy</string>
		<string>Iu-cy</string>
		<string>Zedescender-cy</string>
		<string>Palochka-cy</string>
		<string>Zhebreve-cy</string>
		<string>a-cy</string>
		<string>be-cy</string>
		<string>ve-cy</string>
		<string>ge-cy</string>
		<string>gje-cy</string>
		<string>de-cy</string>
		<string>ie-cy</string>
		<string>io-cy</string>
		<string>zhe-cy</string>
		<string>ze-cy</string>
		<string>iishort-cy</string>
		<string>ka-cy</string>
		<string>kje-cy</string>
		<string>el-cy</string>
		<string>em-cy</string>
		<string>en-cy</string>
		<string>o-cy</string>
		<string>pe-cy</string>
		<string>er-cy</string>
		<string>es-cy</string>
		<string>te-cy</string>
		<string>u-cy</string>
		<string>ushort-cy</string>
		<string>ef-cy</string>
		<string>ha-cy</string>
		<string>che-cy</string>
		<string>tse-cy</string>
		<string>sha-cy</string>
		<string>shcha-cy</string>
		<string>softsign-cy</string>
		<string>hardsign-cy</string>
		<string>yeru-cy</string>
		<string>ereversed-cy</string>
		<string>iu-cy</string>
		<string>ia-cy</string>
		<string>dze-cy</string>
		<string>i-cy</string>
		<string>yi-cy</string>
		<string>je-cy</string>
		<string>zedescender-cy</string>
		<string>adieresis-cy</string>
		<string>zhedieresis-cy</string>
		<string>zedieresis-cy</string>
		<string>odieresis-cy</string>
		<string>edieresis-cy</string>
		<string>umacron-cy</string>
		<string>udieresis-cy</string>
		<string>uhungarumlaut-cy</string>
		<string>chedieresis-cy</string>
		<string>yerudieresis-cy</string>
		<string>Aie-cy</string>
		<string>aie-cy</string>
		<string>pi</string>
		<string>six.small</string>
		<string>seven.small</string>
		<string>eight.small</string>
		<string>nine.small</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>exclamdown</string>
		<string>questiondown</string>
		<string>emdash</string>
		<string>endash</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>nbspace</string>
		<string>florin</string>
		<string>euro</string>
		<string>yen</string>
		<string>Ohm</string>
		<string>approxequal</string>
		<string>bulletoperator</string>
		<string>divisionslash</string>
		<string>emptyset</string>
		<string>greaterequal</string>
		<string>increment</string>
		<string>infinity</string>
		<string>integral</string>
		<string>lessequal</string>
		<string>minus</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>perthousand</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>lozenge</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>estimated</string>
		<string>literSign</string>
		<string>trademark</string>
		<string>breve</string>
		<string>breve-cy</string>
		<string>caron</string>
		<string>circumflex</string>
		<string>dotaccent</string>
		<string>hungarumlaut</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>firsttonechinese</string>
		<string>uniE0A0</string>
		<string>uniE0A1</string>
		<string>uniE0A2</string>
		<string>uniE0B0</string>
		<string>uniE0B1</string>
		<string>uniE0B2</string>
		<string>uniE0B3</string>
	</array>
</dict>
</plist>
